
<!-- templates/about.html -->

{% extends 'base.html' %}
{% block title %} About Monwabisi Xhegwana {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>About: Monwabisi Xhegwana </h2>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h3>Biography</h3>
                    <p> Monwabisi Xhegwana is a passionate advocate for community empowerment and social justice. 
                        Born and raised in the heart of our city, Monwabisi has dedicated his life to serving the people 
                        and fighting for the rights of every citizen. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Political Beliefs</h3>
                    <p> Monwabisi believes in the power of dialogue and collaboration to bridge divides and foster understanding. 
                        Through his work as a mediator and facilitator, he has brought together diverse stakeholders to find 
                        common ground and develop innovative solutions to complex challenges.</p>
                    <h3>Community Involvement</h3>
                    <p>From an early age, Monwabisi recognized the importance of giving back to his community. Inspired by the struggles 
                        and aspirations of his neighbors, he embarked on a journey of public service, working tirelessly to improve the 
                        lives of those around him </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


